<!DOCTYPE html>
<html lang="en" ng-app="ngblog">
<head>
  <meta charset="utf-8">
  <title>ngBlog alpha</title>
  <link rel="stylesheet" href="app/css/modern.css"/>
  <link rel="stylesheet" href="app/css/modern-responsive.css"/>
  <link rel="stylesheet" href="app/css/app.css"/>
</head>
<body class="metrouicss">
  <div class="page">
    <div class="nav-bar">
        <div class="nav-bar-inner padding10">
            <span class="pull-menu"></span>
            <a href="#/"><span class="element brand">
                <img class="place-left" src="app/img/logo32.png">
                ngBlog <small>alpha</small>
            </span></a>
            <ul class="menu place-right" >
                <li><a href="#/About">關於 ngBlog</a></li>
                <li><a href="#/Communication">聯絡 ngBlog</a></li>
                <li ng-controller="LoginCtrl">
                  <span ng-switch="isLoggedIn()">
                    <span class="fg-color-white" ng-switch-when="true">
                      <span>歡迎回來! {{user.displayName}} <a class="place-right" ng-click="logout()">登出</a></span>
                    </span>
                    <span class="fg-color-white" ng-switch-when="false">
                      <a ng-click="login()">登入</a>
                    </span>
                  </span>                  
                </li>
            </ul>
        </div>
    </div>
  </div>
  <div class="page">
    <div class="page-region">
      <div class="page-region-content">
        <div ng-view></div>
      </div>
    </div>
  </div>
  <div class="page">
      <div class="nav-bar">
          <div class="nav-bar-inner padding10">
              <span class="element">
                  2014, ngBlog © by <a class="fg-color-white" href="mailto:lyc1983@gmail.com">Lion@Lai</a>
              </span>
          </div>
      </div>
  </div>
  <script src='https://cdn.firebase.com/v0/firebase.js'></script>
  <script src='https://cdn.firebase.com/v0/firebase-simple-login.js'></script>
  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-route.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>
  <script src="app/js/app.js"></script>
  <script src="app/js/services.js"></script>
  <script src="app/js/controllers.js"></script>
  <script src="app/js/filters.js"></script>
  <script src="app/js/directives.js"></script>
</body>
</html>
